body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    background-color: #f1f1f1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
}

.navigation-list-item {
    margin-right: 1rem;
}

.navigation-link {
    text-decoration: none;
    color: #333;
}

.cv-button {
    margin-left: 1rem;
    margin-right: 2rem;
}

nav ul li a:hover {
    background-color: #ddd;
}

.navbar-item {
    padding: 3rem;
}

h2 {
    margin-top: 0;
}